<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Angular Services</title>
    </head>
     
    <body>
        <div ng-controller="BookController as ctrl">
            <h1>Book store</h1>
            <input type="text" placeholder="Title" ng-model="ctrl.book.title"><br />
            <input type="text" placeholder="Author" ng-model="ctrl.book.author"><br />
            <input type="text" placeholder="ISBN" ng-model="ctrl.book.isbn"><br />
            <button ng-click="ctrl.addBook(ctrl.book)">Add book</button>

            <h2>All books:</h2>
            <ul>
                <li ng-repeat="book in ctrl.books">{{book.title}} - {{book.author}} - {{book.isbn}}</li>
            </ul>
        </div> 
        <script type="application/javascript" src="node_modules/angular/angular.js"></script>
        <script src="js/app/app.js"></script>
        <script src="js/app/services.js"></script>
        <script src="js/app/controllers.js"></script>
    </body>
</html>